@use '../../Styles/mixins';
@import '../../Styles/variables';

.modal{
    position: fixed;
    z-index: 999;
    top:0;
    left: 0;
    width: 100%;
    min-height: 100vh;
    background-color: #00000075;
    display: none;
    justify-content: center;
    align-items: center;

}
.modal.is-open{
    display: flex;
}

.modal.is-right{
    justify-content: end;
    }

.modal-container{
    position:relative;
    padding: 1rem;
    width: 35vw;
    height: 75vh;
    overflow-y: auto;
    background-color: #fff ;
    background-image: url(../../../assets/modal-1.png), url(../../../assets/modal-2.png);
    background-size: 35% 25%;
    background-repeat: no-repeat;
    background-position-x: left , right;
    background-position-y: top, bottom;
    border: .2em solid $secundary-color;
    border-radius: 40px;
}
.modal-container.is-profile{
    border: 3px solid $secundary-color;
    @include mixins.create-flexbox;
     width: 60vw;
     padding: 5px;
    
    .modal-close{
        top: 1rem;
        right: 4rem;
    }

}

.modal-container.is-right{
    width: 20vw;
    height: 85vh;
}

.modal-close{
   position: absolute;
   top: 0.4rem;
   right: 0.5rem;
   border: 2px solid $circles-bg-light;
   border-radius:   0px 200px 200px 200px;
   background-color:$circles-bg-light ;
   color: $text-bg-purple;
   font-weight: bold;

   &:hover{
    background-color: $primary-color;
}
}