@use '../../../components/Styles/mixins';
@import '../../../components/Styles/variables';

.landing{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    height: 100vh;
    background-image: url(../../../assets/bg-1.png);
    background-size: 105% 100%;
    background-repeat: no-repeat;

    .icons{
        display: flex;
        width: 50%;
        height: fit-content;
        justify-content: space-evenly;
               
        .icon{
            display: flex;
            flex-wrap: wrap;
            width: fit-content;
            color:$primary-color;
            font-size: 3vw;

        }
    }
}
.navbarLanding{
    display:flex;
    width: 100vw;
    height: 15vh;
    color:$title-bg-purple;
    margin-bottom: 15vh;
}

.leftSide{
    @include mixins.create-flexbox;
    width: 50%;
    
        img {
        width: 30vw;
        height: 55vh;
        margin-top: -20vh;
        border-radius: 50%;
        object-fit: cover;
        }
}
.rightSide{
   @include mixins.create-flexbox;
    flex-wrap: wrap;
    width: 50%;


        h1 {
            display: flex;
            flex-wrap: wrap;
            flex-basis: 70%;
            margin-top: -13vh;
            font-size: 3vw;
            color:$title-bg-purple;

        }
        p{
            display: flex;
            flex-basis: 70%;
            justify-content: space-around;
            font-size: 2vw;

        }

    }
    
    
