@import '../Styles/_variables.scss';

.ContPrincipal {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 100%;
  margin-bottom: 1vh;
  transition: margin-left 0.4s ease-in-out;

  .textCont {
    margin: 20px auto;
    padding: 10px 0 20px;
    text-align: center;
    width: 90%;
    margin-bottom: 20px;
    border: 10px solid $title-bg-purple;
    border-radius: 40px;

    h1 {
      font-size: 2.5rem;
      font-weight: bold;
      line-height: 1.2;
      margin: 0;
      color: $text-bg-light;

      p {
        display: inline-block;
        color: $title-bg-medium;
        margin-bottom: 0;
      }

      span {
        color: $secundary-color;
        margin-bottom: 0;
      }
    }
  }

  .buttonCont {
    display: flex;
    align-items: center;
    position: absolute;
    justify-content: space-around;
    top: 40vh;
    /* ajustar según sea necesario */

    button {
      font-size: 17px;
      font-weight: bold;
      background-color: $title-bg-light;
      border: none;
      border-radius: 20px;
      color: white;
      margin: 10px;
      padding: 7px 17px;
    }

    button:hover {
      background-color: $primary-color;
      cursor: pointer;
    }
  }

  &.sidebar-open {
    margin-left: 300px;
  }
}