@use '../../components/Styles/mixins';
@import '../../components/Styles/variables';

.faqs{
    @include mixins.create-flexbox;
    width: 100%;
    height: auto;
    
}
.wrapper{
    @include mixins.create-flexbox;
    flex-wrap: wrap;
    width: 80%;
    height: auto;

    .left{
        @include mixins.create-flexbox;
        flex-wrap: wrap;
        padding: 2vw;        
        width: 40%;

        h1{
            font-weight: 700;
            font-size: 3vw;
            margin-bottom: 5vh;
        }
        p{
            font-size: 1.3vw;
            width: 100%;
        }
        .call-to-contact{
            @include mixins.create-flexbox;
            flex-direction: column;
            justify-content: center;
            width: 50%;
            margin-top: 2vh;

            h3{
                color:$circles-bg-light ;

            }
            .link{

                text-decoration: none;
            }
            .btn{
                display: flex;
                justify-content: center;
                margin-bottom: 2vh;
                background-color:$circles-bg-light ;
                color: $text-bg-purple;
                font-weight: bold;
                font-size: 1vw;
        
                &:hover{
                    background-color: $primary-color;
                }
         
            }
        }

    }

    .right{
        @include mixins.create-flexbox;
        flex-direction: column;
        width: 60%;
        min-height: 100vh;
        height: auto;
        padding: 2vw;
        // margin-top: 20vh;

        .container-QA{
           width: 100%;

           .question{
            position: relative;
            background: $secundary-color;
            box-shadow: 0 5px 11px 0 rgba(0,0,0,.1), 0 4px 11px 0 rgba(0,0,0,.08);
            color: $title-bg-purple;
            padding: .5vw;
            margin-bottom: 5vh;
            border-radius: 1vw;
       

            .plus{
                position: absolute;
                right: .5vw;
                padding: .3vw;
                border-radius: 50%;
                background-color: $title-bg-purple;
                color:$secundary-color;
                bottom: -2vh;
                cursor: pointer;
            }
           }

           .answer{

            border-radius: .4vw;
            line-height: 1.4;
            position: relative;
            opacity: .5;
            transition: display .3 ease;
            display: none;
            box-shadow: 0 5px 11px 2px rgba(0,0,0,.1), 0 4px 11px 2px rgba(0,0,0,.8);
            margin-bottom: 10vh;
                    
            p{
                font-size: 1.3em;
                padding-left: 1.5vw;
                padding-right: 1.5vw;
                text-align: justify;
            }
        
            }
            .answer.is-open{
                display: flex;
            }
        }
    }
}