@import '../../components/Styles/variables';

.DetailContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.Detail {
    max-width: 600px;
    padding: 20px;
    background-color: #f8f8f8;
    border-radius: 5px;
    box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.2);
    justify-content: center;
    align-items: center;

    h2 {
        font-size: 28px;
        margin-bottom: 10px;
        font-weight: bold;
        color: $title-bg-light;
    }

    img {
        max-width: 50%;
        height: auto;
        margin-bottom: 10px;
        border-radius: 5px;
        box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.2);
    }

    p {
        font-size: 16px;
        margin-bottom: 5px;
        color: $text-bg-light;
    }

    p:first-of-type {
        margin-top: 0;
    }
}