@import "~bootstrap/scss/bootstrap";
@import '../Styles/_variables.scss';


.container{
  // border: solid 1px white;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 80px;
    margin-bottom: 50px;
  // display:flex;
  // background-color: $primary-color;
  // width: 100%;
}

// .cardBg{
//   // background-color:$primary-color;
// }
// .cardCont{
//     border: solid 1px white;
//     display: flex;
//     flex-direction: column;
//     align-items: center;
//     margin-top: 80px;
//     margin-bottom: 50px;

//     border-radius: 1em;
// }

// .cardCont h1{
//   color: black;
//   display: flex;
// }

// .img {
//     height: 250px;
//     width: 250px;
//     border-radius: 90em;
// }

// .cardBody{
//   background-color: rgb(155, 4, 29);
// }