@import '../Styles/_variables.scss';

.admin-button {
    position: fixed;
    width: 23px;
    height: 23px;
    top: 27px;
    left: 21px;
    background-color: $primary-color;
    color: $title-bg-purple;
    border: 1px solid $title-bg-light;
    border-radius: 50%;
    padding: 0;
    line-height: 23px; // increased to match button height
    vertical-align: middle; // added to center text vertically
    cursor: pointer;
}

.admin-window {
    position: fixed;
    top: 0;
    left: -98.5vw; 
    width: calc(100% - 20px);
    height: calc(100% - 90px);
    background-color: #ffffff;
    box-shadow: 0 0 20px $title-bg-light;
    transition: width 0.4s ease-in-out, transform 0.4s ease-in-out, left 0.4s ease-in-out;
    z-index: 1000;
    margin-top: 80px;
    border: 7px solid $primary-color;
    border-radius: 10px;
    overflow: auto;
    line-height: normal;
    color: black;

    &--open {
    left: 10px;
  
      &.config-sidebar-open {
        width: calc(100% - 220px);
      }
    }

    .positions{
      display: flex;
      flex-wrap: wrap;
    }

    .users-side{
      width: 60%;
    }

    .admin-section-list {
      list-style: none;
      margin: 0;
      padding: 0;
    }
    
    .admin-section-row {
      display: flex;
      align-items: center;
      justify-content: space-between;
      border: 1px solid #ccc;
      padding: 10px;
      margin-bottom: 10px;
    }
    
    .admin-section-info {
      display: flex;
      flex-direction: row;
      justify-content: space-around;
      width: 30%;
    }
    
    .admin-section-data {
      font-weight: bold;
      margin-bottom: 5px;
    }
    
    .admin-section-buttons {
      display: flex;
      align-items: center;
    }
    
    .check-reviews-button {
      margin-right: 10px;
    }
    
    .block-account-button {
      background-color: #f44336;
      color: white;
    }

    .unblock-account-button {
      background-color: #179628;
      color: white;
    }
    
    
    .reviews-side{
      width: 36%;
      margin: 2%;


      table {
      width: 100%;
      margin-top: 20px;
      border-collapse: collapse;
      font-family: Arial, sans-serif;
      border: 3px solid $primary-color;
      
      
      td, th {
        padding: 10px;
        text-align: left;
        border: 1px solid $primary-color;
      }

      .tittle{
        border: 2px solid $primary-color;
      }

      th {
        border: 1px solid $primary-color;
        text-align: center;
      }
      
      
      .label {
        font-weight: bold;
      }
      
      .data {
        text-align: center;
      }
    }
  }
}
