.searchbar{
    background-color: white;
    display: flex;
    width: 15vw ;
    border-radius:2em ;
    height: 4.3vh;
    /* flex: 3; */
}
.input{
    width: 70%;
    height: 4vh;
    border: none;
    border-radius:2em ;
    font-size: 1.1vw;
    padding-left: 10px;
    outline: none;
   
}

.searchbar i {
    color:#9196f1 ;
   
}
.btn{
    width: 30%;
    background: none;
    border:none;
    font-size: 1.2vw;
   
}