@import '../Styles/_variables.scss';

.ContainerTest {
  margin: 0 auto;
  padding: 20px;
  max-width: 1300px;

  h1 {
    font-size: 36px;
    margin-bottom: 10px;
    text-align: center;
    color: $title-bg-light;
  }

  h4 {
    font-size: 18px;
    margin-bottom: 30px;
    text-align: center;
    color: $text-bg-light;
  }

  .Testimonials {
    display: flex;
    justify-content: space-between;

    .cardTest {
      width: calc(50% - 10px);
      padding: 7px 17px;
      background-color: #f5f5f5;
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      justify-content: center;
      margin: 10px;
      border-radius: 30px;
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);


      .Head {
        display: flex;
        padding: 10px;
        margin-bottom: 20px;
        max-width: 600px;

        h2 {
          color: $text-bg-light;
          font-weight: bold;
          font-size: 20px;
          display: flex;
          align-items: center;
          margin-bottom: 10px;
        }

        img {
          object-fit: cover;
          width: 50px;
          height: 50px;
          border-radius: 50%;
          margin-right: 10px;
        }
      }

      p {
        font-size: 15px;
        margin-top: -10px;
        color: $text-bg-light;
        margin-bottom: 0;
      }

      span {
        font-size: 17px;
        font-weight: bold;
        margin-left: 8px;
        color: gray;
      }
    }
  }
}