@use '../../../components/Styles/mixins';
@import '../../../components/Styles/variables';

.landingTwo {
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  flex-direction: column;

  .text {
    @include mixins.create-flexbox;
    flex-direction: column;
    width: 70%;
    margin-bottom: 15vh;

    h1 {
      color: $title-bg-light;
      font-size: 3.5vw;
      font-weight: bolder;
      margin-bottom: 4vh;
    }

    p {
      color: $text-bg-light;
      font-size: 1.4vw;
    }
  }

  .containerTech {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: -90px;

    .techs {
      width: 25%;
      height: 90%;
      margin: 10px;
      border-radius: 10px;
      box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.2);
      overflow: hidden;
      align-items: center;

      h2 {
        margin: 0;
        padding: 10px;
        background-color: $primary-color;
        color: white;
      }

      h4 {
        margin: 10px;
      }

      img {
        width: 100%;
        height: 200px;
        object-fit: cover;
        // object-position: ;
      }

      p {
        margin: 10px;
      }
    }
  }
}