@use '../../components/Styles/mixins';
@import '../../components/Styles/variables';

.ContPrincipal {
  @include mixins.create-flexbox;
  flex-wrap: wrap;
  flex-direction: row;
  width: 100%;
  transition: margin-left 0.4s ease-in-out;
  height: 70vh;

  .textCont {
    padding: 5vw;
    text-align: center;
    width: 90%;
    border: 1vw solid $circles-bg-light;
    border-radius: 40px;
    background-image: url(../../assets/border.png);
    background-repeat: no-repeat;
    background-size: 12em;
    background-position-x: right ;
    background-position-y: -3vh ;
  

    h1 {
      margin-top: -50vh;
      font-size: 3vw;
      font-weight: bold;
      line-height: 1.2;
      margin: 0;
      color: $text-bg-light;

      p {
        display: inline-block;
        color: $bg-btn;
        margin-bottom: 0;
      }

      span {
        color: $secundary-color;
        margin-bottom: 0;
      }
    }
    
  }

  .buttonCont {
    display: flex;
    position: absolute;
    margin-top: 32vh;
    // justify-content: space-around;
    
    // top: 40vh;
    /* ajustar según sea necesario */

    button {
      font-size: 1.8vw;
      font-weight: bold;
      background-color: $primary-color;
      border: none;
      border-radius: 20px;
      color: white;
      margin-right: 5vw;
      margin-left: 5vw;
      padding:.3em .6em ;
    }
    .btn-one{
    background-color: $bg-btn;

    }

    button:hover {
      background-color: $title-bg-light;
      cursor: pointer;
    }
  }

  &.sidebar-open {
    margin-left: 300px;
  }

  .img-right, .img-left{
    display: flex;
    width: 10vw;
    margin-top: -30vh;
    border-radius: 40% 40%  40% 40%;
    border-right: 6px solid #48484885;
    border-bottom:2px solid #484848 ;
    
    
  }
  .img-right{

  // margin-right: -10vw;
  margin-left: 60vw;
 
  }
  .arrow-bot{
    display: flex;
    position: absolute;
    width: 8vw;
    height: 15vh;
    // z-index: 9999;
    background-image: url(../../assets/crazy-arrow.png);
    background-repeat: no-repeat;
    background-size: 7vw;
    margin-left: -15vw;
    margin-top: 57vh;
   

  }
  .arrow-left{
    display: flex;
    position: absolute;
    width: 8vw;
    height: 15vh;
    // z-index: 1;
    background-image: url(../../assets/arrow-left.png);
    background-repeat: no-repeat;
    background-size: 5vw;
    margin-left: 30vw;
    filter: invert(42%) sepia(40%) saturate(5962%) hue-rotate(236deg) brightness(102%) contrast(100%);    margin-top: 7vh;
   

  }
}
