@import "~bootstrap/scss/bootstrap";
@import '../Styles/_variables.scss';

body {
  background-color: $text-bg-purple;
}

.containerPrincipal {
  width: 100%;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 40px;
  // background-color: $primary-color;

  &.sidebar-open{
    margin-left: 260px;
    margin-top: 90px;
  }

  .containeMessage h1 {
    color: $title-bg-light;
    font-size: 40px;
    font-weight: bold;
    margin-left: 90px;
  }

  .containeMessage p {
    margin-top: -10px;
    color: $text-bg-light;
    font-size: 16px;
    font-weight: bold;
    margin-left: 90px;
  }

  .container {
    display: grid;
    grid-template-columns: repeat(auto-fill, 261px);
    gap: 30px;
    padding: 30px;
    place-content: center;
    margin-top: 10px;
    background-color: $title-bg-purple;
    // border-top-left-radius: 600px;
    // border-bottom-right-radius: 800px;
    max-width: 100%;
  }
}