@use '../Styles/mixins';
@import '../Styles/_variables.scss';


.containerTech {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  // align-items: baseline;
  margin-top: 3vh;

  .techs {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin: 3vw;
    width: 27%;
    height: 50% ;
    border-radius: 10px;
    margin-bottom: 7vh;
    // box-shadow: 0px 8px 5px 0px rgba(0, 0, 0, 0.2);
    
    h2 {
      display: flex;
      width: 100%;
      background-color: $bg-btn;
      opacity: .6;
      padding: 10px;
      color: white;
      border-radius: 20px;
      font-size: 2vw;
      font-weight: bolder;
    }

    h4 {
      margin: 10px;
    }

    img {
      @include mixins.create-flexbox;
      width: fit-content;
      height: 20vh;
      object-fit: cover;
      margin-bottom: 2vh;

      // object-position: ;
    }

    p {
      margin: 10px;
      font-size: 1.4vw;
    }
  }
}