
.conteinerContact{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 150px;

.contact{
    display: flex;
    flex-direction: column;
    align-items: center;
   
 
    .textcontact{
        font-weight: bold;
    }
}

}
