@import '../../components/Styles/variables';

.login-btn{
     
        display: flex;
        border: 2px solid $circles-bg-light;
        border-radius: 20%;
        background-color:$circles-bg-light ;
        color: $text-bg-purple;
        font-weight: bold;
        padding: .2em .5em .2em .5em;

        &:hover{
            background-color: $primary-color;
        }

}

.inquiries-btn{
   
        display: block;
        width: 100%;
        margin-bottom: 20px;
        padding: 10px;
        border: none;
        cursor: pointer;
        background-color: $circles-bg-light;
        color: $text-bg-purple;
        border-radius: 10px;
        text-shadow: 2px 2px 2px $title-bg-light;
    
        &:hover {
          background-color: darken($primary-color, 10%);
        }
      
        i{
                margin-right: 1em;
                font-size: 1.3em;
        }
           
     
}

.shopping-btn{
     
        display: flex;
        border: 2px solid $circles-bg-light;
        border-radius: 20%;
        background-color:$circles-bg-light ;
        color: $text-bg-purple;
        font-weight: bold;
        padding: .2em .5em .2em .5em;

        &:hover{
            background-color: $primary-color;
        }

}
    