@import '../../components/Styles/variables';


.itemsCart {
    border: 1px solid $primary-color;
    border-radius: 1em;
    padding: 5px;
    margin-top: 20px;
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;

    h2 {
        font-size: 13px;
        font-weight: bold;
        margin-bottom: 1px;
        color: $primary-color;
    }

    span {
        font-size: 13px;
        margin-bottom: 1px;
        color: black;
    }

    .btnconteiner {
        display: flex;
        height: 50px;
        align-items: center;
        flex-direction: row;

        .btnDelete {
            width: 60px;
            height: 60px;
            background-color: transparent;
            color: $title-bg-light;
            font-size: 18px;
        }

        .btnDelete:hover {
            color: red;
            background-color: transparent;
        }

        button {
            width: 80px;
            height: 30px;
            background-color: $title-bg-light;
            color: $text-bg-purple;
            border-radius: 3px;
            border: none;

        }

        button:hover {
            background-color: $primary-color;
            cursor: pointer;
        }
    }
}

.btnClear {
    background-color: transparent;
    color: $primary-color;
    font-size: 14px;
    border: none;
    text-decoration: underline;
}

.btnClear:hover {
    cursor: pointer;
    color: red;
}

.btnPayAll{
    width: 80px;
    height: 30px;
    background-color: $title-bg-light;
    color: $text-bg-purple;
    border-radius: 3px;
    border: none;
}
.btnPayAll:hover {
    background-color: $primary-color;
    cursor: pointer;
}