@use '../../components/Styles/mixins';
@import '../../components/Styles/variables';

.login{
    @include mixins.create-flexbox;
    flex-direction: column;
    flex-wrap: wrap;
    width: 100%;
    height: 100%;
    text-align: center;
    border: 2px solid $circles-bg-light;
    border-radius: 40px;

    h1{
        margin-top: 3vh;
        margin-bottom: 5vh;
        color:$primary-color;
    }
    
    .email {
        display: flex;
        flex-direction: column;
        margin-left: 15%;
        width: 70%;
        text-align: left;
        margin-bottom: 3vh;
        
       
        .input{
            border: 2px solid $circles-bg-light;
            border-radius: 10px;
            padding-left: .5em;
        }
    }
    .pass{
        display: flex;
        flex-direction: column;
        margin-left: 15%;
        width: 70%;
        text-align: left;
        margin-bottom: 2vh;
        
        .input{
            border: 2px solid $circles-bg-light;
            border-radius: 10px;
            padding-left: .5em;
        }

    }

    .forgot{
        text-align: end;
        padding-right: 4.8vw;
        margin-bottom: 3vh;

    }

    .btn{  
        display: flex;
        margin-left:  42%;
        background-color:$circles-bg-light ;
        color: $text-bg-purple;
        font-weight: bold;

        &:hover{
            background-color: $primary-color;
        }

    }
    hr{
        width: 32.4vw;
        border: 2px solid;
        color: $primary-color;
        margin-bottom: -2vh;
    }

    .icons{
        display: flex;
        justify-content: space-evenly;
        width:38vw;
        padding-left: 5.8vw;

        .icon{
            display: flex;
            background-color:$circles-bg-light ;
            color: $text-bg-purple;
            font-weight: 500;
            border-radius: 20%;
            border: 1px solid $text-bg-purple;
    
            &:hover{
                background-color: $primary-color;
            }

        }
        
    }
    
}