@use '../Styles/mixins';
@import '../Styles/_variables.scss';

.navbar {
    display: flex;
    // position: fixed;
    width: 100%;
    height: 12vh;
    color:white;
    font-size: 1.1vw;
}

.navLeft {
    @include mixins.create-flexbox;
    flex: 1;
    font-weight: 800;
    font-size: 2vw;

    .linkLogo{
        text-decoration: none;
        color: $primary-color;
    }
}

.navRight {
    @include mixins.create-flexbox;
    margin-top: 10px;
    flex: 3;
    gap: 8vw;
    height: 8vh;
    border-radius: 4em 0 0 4em;
    background-color: $primary-color;
    font-weight: bolder;
    color: $title-bg-light ;


    a:link,
    a:visited {
        text-decoration: none;
        color: $title-bg-purple;

    }
}

.config-icon{
    cursor: pointer;
    color: $title-bg-purple;
}

.config-icon:hover{
    color: $text-bg-purple;
}