@use '../../components/Styles/mixins';
@import '../../components/Styles/variables';

.register {
    @include mixins.create-flexbox;
    flex-direction: column;
    flex-wrap: wrap;
    width: 100%;
    height: 100%;
    text-align: center;
    border: 2px solid $circles-bg-light;
    border-radius: 40px;

    form {
        width: 100%;
        background-image: url('../../assets/registerimg.png');
        background-size: 20%;
        background-repeat: no-repeat;
        background-position-x: center ;
        background-position-y: 7vh ;
        opacity: .75;

    }

    .warning {
        margin: 0;
        color: red;
        font-size: smaller;
        margin-bottom: -2vh;
    }

    h1 {
        margin-bottom: 8vh;
        color: $primary-color;

    }

    .nick {
        display: flex;
        flex-direction: column;
        margin-left: 15%;
        width: 70%;
        text-align: left;
        margin-bottom: 3vh;


        .input {
            border: 2px solid $circles-bg-light;
            border-radius: 10px;
            padding-left: .5em;
        }
    }

    .email {
        display: flex;
        flex-direction: column;
        margin-left: 15%;
        width: 70%;
        text-align: left;
        margin-bottom: 3vh;


        .input {
            border: 2px solid $circles-bg-light;
            border-radius: 10px;
            padding-left: .5em;
        }
    }

    .pass {
        display: flex;
        flex-direction: column;
        margin-left: 15%;
        width: 70%;
        text-align: left;
        margin-bottom: 2vh;

        .input {
            border: 2px solid $circles-bg-light;
            border-radius: 10px;
            padding-left: .5em;
        }

    }

    .btn {
        display: flex;
        margin-left: 42%;
        background-color: $circles-bg-light ;
        color: $text-bg-purple;
        font-weight: bold;

        &:hover {
            background-color: $primary-color;
        }

    }
}