@use '../Styles/mixins';
@import '../Styles/_variables.scss';

.Configsidebar {
  position: fixed;
  top: 0;
  right: -300px;
  height: 100%;
  width: 200px;
  background-color: $title-bg-purple;
  border-left: 1px solid $title-bg-purple;
  padding: 20px;
  transition: right 0.4s ease-in-out;
  border: $primary-color solid 2px;
  border-right: 0;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;


  &.open {
    right: 0;
  }

  .config-title {
    background-color: $title-bg-light;
    color: $text-bg-purple;
    font-weight: 800;
    padding: 10px;
    margin-bottom: 30px;
    width: 100%;
    border-radius: 10px;
    text-shadow: 2px 2px 2px black;

    &:hover {
      background-color: lighten($title-bg-light, 10%);
    }
  }
  
  .language-toggle, .theme-toggle {
    display: block;
    width: 100%;
    margin-bottom: 20px;
    padding: 10px;
    border: none;
    cursor: pointer;
    background-color: $primary-color;
    color: $text-bg-purple;
    border-radius: 10px;
    text-shadow: 2px 2px 2px $title-bg-light;

    &:hover {
      background-color: darken($primary-color, 10%);
    }
  }
  
  
  .theme-toggle.active {
    background-color: #000;
    color: $text-bg-purple;
  }
  
  a {
    display: block;
    margin-bottom: 10px;
  }
  
  .signoff-report-button {
    text-decoration: none;
    display: block;
    width: 100%;
    margin-top: auto;
    padding: 10px;
    border: none;
    cursor: pointer;
    background-color: $primary-color;
    color: #fff;
    border-radius: 10px;
    margin-bottom: 20px;
    text-shadow: 2px 2px 2px $title-bg-light;

    
    &:hover {
      background-color: darken($primary-color, 10%);
    }
  }
}
